
<h2 class="display-6 font-monospace" id="homepage-title">See What Other Students are Saying!</h2>
{{#each posts as |post| }}
<div class="card mb-3" id="post-card"style="max-width: 18rem;">
   <a href="/posts/{{id}}">
 <div class="card-header font-monospace text-primary-emphasis">Posted by @{{user.username}} from {{user.school}} on {{format_date createdAt}}</div>
 <div class="card-body">
   <h5 class="card-title font-monospace text-primary-emphasis">{{title}}</h5>
   <p class="card-text font-monospace text-primary-emphasis"><i class="fa-solid fa-hand-pointer"></i>Click Here to See What {{user.username}} Has to Say!</p>
 </div>
 </a>
 </div>
 {{/each}}
 {{!-- need to create these as columns, but using column containers creates each card as its own column group --}}