
{{! Above code is for creating blogpost and below code is for viewing post, what am I missing? something to separate the two? }}

    <div class="row mt-4">
    <div class="col-md-6">
        {{#if blogPost}}
            <h2>{{blogPost.title}}</h2>
            <p>{{blogPost.content}}</p>
            <p>Created by {{user_id}} on {{format_date createdAt}}</p>
            {{#if blogPost.spotify}}{{! placeholder for spotify}}
                <p>{{blogPost.spotify}}</p>
            {{/if}}
        {{else}}
            <p>No blog post found.</p>
        {{/if}}
    </div>
</div>