
{{! Above code is for creating blogpost and below code is for viewing post, what am I missing? something to separate the two? }}

    <div class="row mt-4">
    <div class="col-md-6">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
            <p>Created by {{user.username}} on {{format_date createdAt}}</p>
            {{!-- {{#if blogPost.spotify}}{{! placeholder for spotify}}
                <p>{{blogPost.spotify}}</p>
            {{/if}} --}}
        </div>
</div>